<div class="form-group my-3">
    <label for="title" class="my-1">Title</label>
    <input type="text" value="<%= article.title %>" name="title" id="title" class="form-control" required>
</div>
<div class="form-group my-3">
    <label for="description" class="my-1">Description</label>
    <textarea type="text" name="description" id="description" class="form-control"><%= article.description %></textarea>
</div>
<div class="form-group my-3">
    <label for="markdown" class="my-1">Markdown</label>
    <textarea type="text" name="markdown" id="markdown" class="form-control" required><%= article.markdown %></textarea>
</div>

<a href="/" class="btn btn-secondary my-2"> Cancel</a>
<button type="submit" class="btn btn-primary my-2">Save</button>